#toolbar {
    width: 100%;
    background-color: silver;
    text-align: center;
}

#toolbar h2 {
    margin: 0px;
}
#bat {
    margin: 50px 15px 15px 0px;
    background-color: blue;
    color: white;
    float: right;
}
.no-gutter > [class*='col'] {
    padding-right:0;
    padding-left:0;
}